<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div style="display: none" id="reservation_alert" class="alert alert-danger" role="alert"></div>
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Create new reservation</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {{ form_start(form) }}
                {{ form_row(form.id) }}
                {{ form_row(form.reasonOfVisit) }}
{#                {{ form_row(form.startDate) }}#}
                {{ form_row(form.service) }}
                {{ form_row(form.doctor) }}
                <div class="row">
                    <div class="col">
                        {{ form_row(form.startDate) }}
                    </div>
                    <div class="col">
                        {{ form_row(form.startTime) }}
                    </div>
                </div>
                {{ form_row(form.user) }}
            </div>
            <div class="modal-footer">
                {{ form_widget(form.save) }}
                {{ form_widget(form.delete) }}
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>
