<div class="container ps-0 m-lg-0">
    <div class="row">
        <div class="col-md-6">
            <table class="table table-bordered" id="tooth-table">
                <tbody>
                    <tr>
                        {% for tooth in teeth %}
                                {% if tooth.position.position < 30%}
                                    <td class = "tooth-data" data-position-number="{{ tooth.position.position }}" data-tooth-id="{{ tooth.id }}" data-is-removed ="{{ tooth.isRemoved ? 'true' : 'false' }}" >{{ tooth.position.position }}</td>
                                {% endif %}
                        {% endfor %}
                    </tr>
                    <tr>
                        {% for tooth in teeth %}
                            {% if tooth.position.position < 31 %}
                                <td class = "tooth-data" data-position-number="{{ tooth.position.position }}" data-tooth-id="{{ tooth.id }}" data-is-removed ="{{ tooth.isRemoved ? 'true' : 'false' }}">
                                    {% if tooth.isRemoved %}
                                        <img style="max-width: 100%; max-height: 30px;" class="img-responsive" alt="" data-tooth-id="{{ tooth.id }}" data-is-removed ="{{ tooth.isRemoved ? 'true' : 'false' }}">
                                        {% else %}
                                            {% if tooth.healthRecords |length >0 %}
                                                <img style="max-width: 100%; max-height: 30px;" class="img-responsive" src="/images/teeth/red/{{tooth.position.position}}_red.png" alt="" data-tooth-id="{{ tooth.id }}" data-is-removed ="{{ tooth.isRemoved ? 'true' : 'false' }}">
                                            {% else %}
                                                <img style="max-width: 100%; max-height: 30px;" class="img-responsive" src="/images/teeth/regular/{{tooth.position.position}}.png" alt="" data-tooth-id="{{ tooth.id }}" data-is-removed ="{{ tooth.isRemoved ? 'true' : 'false' }}">
                                            {% endif%}
                                    {% endif %}
                                </td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                    <tr>
                        {% for tooth in teeth %}
                            {% if tooth.position.position > 30 %}
                                <td class = "tooth-data" data-position-number="{{ tooth.position.position }}" data-tooth-id="{{ tooth.id }}" data-is-removed ="{{ tooth.isRemoved ? 'true' : 'false' }}">
                                    {% if tooth.isRemoved %}
                                        <img style="max-width: 100%; max-height: 30px;" class="img-responsive" alt="" data-tooth-id="{{ tooth.id }}" data-is-removed ="{{ tooth.isRemoved ? 'true' : 'false' }}">
                                    {% else %}
                                        {% if tooth.healthRecords |length >0 %}
                                            <img style="max-width: 100%; max-height: 30px;" class="img-responsive" src="/images/teeth/red/{{tooth.position.position}}_red.png" alt="" data-tooth-id="{{ tooth.id }}" data-is-removed ="{{ tooth.isRemoved ? 'true' : 'false' }}">
                                        {% else %}
                                            <img style="max-width: 100%; max-height: 30px;" class="img-responsive" src="/images/teeth/regular/{{tooth.position.position}}.png" alt="" data-tooth-id="{{ tooth.id }}" data-is-removed ="{{ tooth.isRemoved ? 'true' : 'false' }}">
                                        {% endif%}
                                    {% endif %}
                                </td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                    <tr>
                        {% for tooth in teeth %}
                            {% if tooth.position.position > 30%}
                                <td class = "tooth-data" data-position-number="{{ tooth.position.position }}" data-tooth-id="{{ tooth.id }}" data-is-removed ="{{ tooth.isRemoved ? 'true' : 'false' }}">{{ tooth.position.position }}</td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
