{% if records|length == 0 %}
    <div class="alert alert-secondary" role="alert">
        No health history records was found
    </div>
{% else %}
    <table class="table datagrid" id="health-record-table">
        <thead>
        <tr>
            <th class=" header-for-field-text text-left" dir="ltr">Date</th>

            <th class=" header-for-field-text text-left" dir="ltr">Code</th>

            <th class=" header-for-field-text text-left" dir="ltr">Position</th>

            <th class=" header-for-field-text text-left" dir="ltr">Diagnosis</th>

            <th class=" header-for-field-text text-left" dir="ltr">Doctor</th>

            <th class=" header-for-field-text text-left" dir="ltr">Notes</th>
        </tr>
        </thead>
        <tbody>
        {% for record in records %}
            <tr data-id="{{ record.id }}">
                <td data-label="createdAt" class=" text-left field-text" dir="ltr">
                    <span title="{{ record.createdAt|date('Y-m-d H:i:s')}}">{{ record.createdAt|date('Y-m-d H:i:s')}}</span>
                </td>
                <td data-label="code" class=" text-left field-text" dir="ltr">
                    <span title="{{ record.diagnosis.code }}">{{ record.diagnosis.code }}</span>
                </td>
                <td data-label="position" class=" text-left field-text" dir="ltr">
                    <span title="{{ record.tooth.position.position }}">{{ record.tooth.position.position }}</span>
                </td>
                </td>
                <td data-label="diagnosis" class=" text-left field-text" dir="ltr">
                    <span title="{{ record.diagnosis.title }}">{{ record.diagnosis.title }}</span>
                </td>
                <td data-label="doctor" class=" text-left field-text" dir="ltr">
                    <span title="{{ record.doctor.name ~ ' ' ~ record.doctor.surname }}">{{ record.doctor.name ~ ' ' ~ record.doctor.surname }}</span>
                </td>
                <td data-label="notes" class=" text-left field-text" dir="ltr">
                    <span title="{{ record.notes }}">{{ record.notes }}</span>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endif %}
