<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Create new reservation</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {{ form_start(form) }}
                {{ form_row(form.title) }}
                {{ form_row(form.datetime) }}
                {{ form_row(form.service) }}
            </div>
            <div class="modal-footer">
                {{ form_row(form.save) }}
                {{ form_row(form.close) }}
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>
